
.video-container, .form-container {
    margin-bottom: 20px;
}

.container{
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.video-container .video-placeholder video{
    width: 100%;
}