<header>
    <div class="nombre"><h1>Centro Psicologico Puebla</h1></div>
    <div class="logo">
        <img src="../../assets/img/logo_psicologo.png" alt="">
    </div>
    <input type="checkbox" id="nav_check" hidden>
    <nav class="sidenav">
        <div class="logo">
            <img src="../../assets/img/logo_psicologo.png" alt="">
        </div>
        <ul>
            <li><a class="button" routerLink="/home" routerLinkActive="activebutton">Home</a></li>
            <li><a class="button" routerLink="/blog" routerLinkActive="activebutton">Blog</a></li>
            <li><a class="button" routerLink="/cita" routerLinkActive="activebutton">Citas</a></li>
            <li><a class="button" routerLink="/perfil" routerLinkActive="activebutton">Perfil</a></li>
        </ul> 
    </nav>
    <label for="nav_check" class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </label>
</header>