<div class="mision_vision">
    <div class="img_mis_vis">
        <img src="../../assets/img/mision-vision_en.png" alt="">
    </div>
    <div class="mision">
        <h1>Mision</h1>
            <p>Nuestra misión es proporcionar un espacio en línea donde las personas puedan 
            encontrar apoyo emocional, recursos informativos y servicios terapéuticos de 
            calidad. Nos comprometemos a ofrecer un ambiente acogedor y seguro donde nuestros 
            visitantes puedan explorar su bienestar emocional y encontrar las herramientas 
            necesarias para vivir una vida más plena y satisfactoria.</p>

    </div>
    <div class="vision">
        <h1>Vision</h1>
            <p>Nuestra visión es ser una plataforma líder en el campo de la psicología clínica 
            en línea, reconocida por su profesionalismo, empatía y compromiso con el bienestar 
            de nuestros usuarios. Nos esforzamos por ser un referente en la promoción de la 
            salud mental y el desarrollo personal, brindando acceso a recursos accesibles y 
            de calidad que ayuden a transformar vidas y promover un mundo más saludable y equilibrado.</p>

    </div>    
</div>

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/img/Mi-querida-psicóloga-blanca.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Dr. Miriam Cruz</h1>
          <p class="card-text">Dirección: C. 7 Sur 3712-local 2, Gabriel Pastor 2da Secc, 72420 Heroica Puebla de Zaragoza, Pue.</p>
          <p class="card-text">Celular: +522228971223 o </p>
          <a class="button" routerLink="/cita" routerLinkActive="activebutton">Genera una cita</a>
        </div>
      </div>
    </div>
  </div>


